    <div id="bodyfull"> 
      <!--Inicio Area titulo-->
      <div id="titulo">
        <div id="contenedortitulo">
          <div id="topepanel">
            <h2>Formalización y Embozado</h2>
          </div>
          <!--fin area tope panel-->
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Inicio / </a></li>
              <li>Test Request Generation</li>
            </ul>
          </div>
        </div>
      </div>

    <div id="bodymantenimientos">
      <div id="loader" style="display:none;"></div>
        <div id="cuerpomantenimientos"> 
          <!--Inicio Area mantenimientos-->

          <form name="formalizationResult.formProductMantenimentAffiliate" novalidate role="form">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
            <div class="divheader">
              <h2>Personalizacion de Plástico / Embozado (Resumen de Transacción)</h2>
            </div>
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="resumen">
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Nombre Tarjeta Principal:</p>
                  </div>
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt"><b>{{formalizationResult.viewModelMantResult.namePrinc}}</b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Estatus de la Impresión:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt">Correctamente</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">No. TC principal:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt">{{formalizationResult.viewModelMantResult.numberTarje}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Tipo de TC:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt">{{formalizationResult.viewModelMantResult.typeTc}}</p>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Nombre tarjeta adicional:</p>
                  </div>
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt"><b>----------</b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">No. TC adicional:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt">----------</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Estado de tarjeta de crédito:</p>
                  </div>
                  <div ng-show="formalizationResult.status === 'I'">
                    <div class="txtBtnAct">
                      <span>Inactiva</span>
                    </div>
                    <button class="btnredp"                            
                            ng-click="formalizationResult.actCredCard(false)">
                            Activar
                    </button>
                  </div>
                  <div ng-show="formalizationResult.status === 'A'">
                    <div class="txtBtnAct">
                      <span>Activa</span>
                    </div>
                    <button class="botonlarge"                            
                            ng-click="formalizationResult.actCredCard(true)">
                            Desactivar
                    </button>
                  </div> 
                </div>
                   
                <div class="clear20"></div>
                <div class="row">
                 <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">En caso del cliente solicitar impresión de los documentos  oprimir el botón correspondiente:</p>
                  </div>
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt">
	                    <a
                         href="{{formalizationResult.urlAccountTariff}}"
                         ng-class="{'disabled' : !formalizationResult.passiveValid}" 
                         class="boton "
                         target="_blank">
                         Tarifario de Producto
                         
                      </a> 

                      <a href="{{formalizationResult.urlAccounDac}}"
                         ng-class="{'disabled' : !formalizationResult.passiveValid}" 
                         class="boton "
                         target="_blank">
                         Manual Operativo
                       </a> 


	                    <a href="{{formalizationResult.urlAccountAcuse}}" 
                         ng-class="{'disabled' : !formalizationResult.passiveValid}" 
                         class="boton "
                         target="_blank">
                         Acuse
                      </a>


	                    <a href="http://serwebdev07.cfbhd.com:10039/BHDL_TDPD_Back_Credit_Card/rest/files/handBook?documentNumber=00100078344&customerNumber=2370625"
                       class="boton "
                       target="_blank">
                       Contrato Manual Operativo
                       </a>
                    </p>
                  </div>
                   <div class="clear30"></div>
                </div>
              </div>
            </div>

			<div class="botonareacenter">
			<button  class="boton3 btnlager2 "
			ng-click="formalizationResult.validImpre()">Volver a Inicio</button></div>

          </form>
          

          
          <!--Inicio Area footer-->
          <!--Fin Area mantenimientos--> 
        </div>
      </div>