    <div id="bodyfull"> 
      <!--Inicio Area titulo-->
      <div id="titulo">
        <div id="contenedortitulo">
          <div id="topepanel">
            <h2>Resumen de Impresión </h2>
          </div>
          <!--fin area tope panel-->
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Inicio / </a></li>
              <li>Test Request Generation</li>
            </ul>
          </div>
        </div>
      </div>

    <div id="bodymantenimientos">
      <div id="loader" style="display:none;"></div>
        <div id="cuerpomantenimientos"> 
          <!--Inicio Area mantenimientos-->

          <form name="formalizationResult.formProductMantenimentAffiliate" novalidate role="form">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
            <div class="divheader">
              <h2>Personalizacion de Plástico / Embozado (Resumen de Transacción)</h2>
            </div>
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="resumen">
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Nombre Tarjeta Principal:</p> 
                  </div>
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt mayusculas"><b ng-bind="formalizationResult.namePrinc"></b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Estatus de la Impresión:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt"><b>Exitosa</b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">No. TC principal:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt" ><b ng-bind="formalizationResult.numberTarje"></b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Tipo de TC:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt" ><b ng-bind="formalizationResult.typeTc"></b></p>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Nombre tarjeta adicional:</p>
                  </div>
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt mayusculas"><b ng-bind="formalizationResult.nameAdicional"></b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">No. TC adicional:</p>
                  </div>
                   <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt" ><b ng-bind="formalizationResult.noTCAdicional"></b></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">Estado de tarjeta de crédito:</p>
                  </div>
                  <div ng-show="formalizationResult.status === 'I'">
                    <div class="txtBtnAct positionBtnAct ">
                      <span><b>Inactiva</b></span>
                    </div>
                  </div>
                  <div ng-show="formalizationResult.status === 'A'">
                    <div class="txtBtnAct positionBtnAct ">
                      <span><b>Activa</b></span>
                    </div>
                  </div> 
                    <button class="btnredp" 
                    ng-class="{'disabled' : formalizationResult.desBtn }"                           
                            ng-click="formalizationResult.validCard()">
                            Activar
                    </button>
                                      
                </div>
                <div id="myModal" class="modal w3-animate-opacity">
                  <!-- Modal content -->
                  <span class="close w3-animate-opacity"></span>
                  <div class="w3-modal-content w3-card-4">
                      <form name="formalizationResult.formResult" id="myForm" novalidate role="form">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
                          <div class="divheader2">
                            <h2>Formalización</h2>
                          </div> 
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <div class="tdc" class="input2">
                                <p>Número Tarjeta de Claves Vigente</p>                          
                                  <h5 class="numberCard"> {{formalizationResult.viewModelMantResult.keyCardNumber}}</h5>
                              </div>
                              <div class="tdc">
                                  <img src="images/tdcImg.png" width="296" height="134" />
                                  <p>Digite la clave solicitada de la tarjeta de claves</p>
                              </div>
                              <div class="inputTdcWrap">
                                  <div class="keyWrap">
                                    <p >{{formalizationResult.positionCard}}</p>
                                  </div>
                                  <div class="inputKeyWrap">
                                    <input type="password" ng-model="formalizationResult.viewModelMantResult.positionValueInput" type="text" placeholder="XXXX" maxlength="4" required="">
                                  </div>
                              </div>
                            </div>
                            <div class="botonareacenter">            
                              <button  
                                  class="boton3 btnblue"
                                  ng-click="formalizationResult.validateKeyCard();">
                              Enviar
                              </button>
                              <button id="formPrint" class="boton3 btnblue" >
                                  <span class=" w3-animate-opacity">Cancelar</span>  
                              </button>
                            </div> 
                        </div>
                      </form>
                  </div>
                </div>
                   
                <div class="clear20"></div>
                <div class="row">
                 <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <p class="resumenTittle">En caso del cliente solicitar impresión de los documentos  oprimir el botón correspondiente:</p>
                  </div>
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p class="resumentxt">
	                    <a
                         href="{{formalizationResult.urlAccountTariff}}"
                         ng-class="{'disabled' : !formalizationResult.tariffValid}" 
                         class="boton pdf2"
                         target="_blank">
                         Tarifario de Producto
                         
                      </a> 

                      <a href="{{formalizationResult.urlAccountContrac}}"
                         ng-class="{'disabled' : !formalizationResult.validContra}" 
                         class="boton pdf"
                         target="_blank">
                         Contrato 
                       </a> 


	                    <a href="{{formalizationResult.urlAccountAcuse}}" 
                         ng-class="{'disabled' : !formalizationResult.validacuse}" 
                         class="boton pdf"
                         target="_blank">
                         Acuse
                      </a>


	                    <a href="http://serwebdev07.cfbhd.com:10039/BHDL_TDPD_Back_Credit_Card/rest/files/handBook?documentNumber=00100078344&customerNumber=2370625"
                       class="boton pdf2"
                       target="_blank">
                       Manual Operativo
                       </a>
                    </p>
                  </div>
                   <div class="clear30"></div>
                </div>
              </div>
            </div>



          </form>
          

          
          <!--Inicio Area footer-->
          <!--Fin Area mantenimientos--> 
        </div>
      <div class="botonareacenter">
			<button  class="boton3 btnlager2 "
			ng-click="formalizationResult.validImpre()">FINALIZAR</button></div>
      </div>