<div id="titulo">
    <div id="contenedortitulo">
        <div id="topepanel">
        <h2>Mantenimiento de Productos</h2>
        </div>
        <!--fin area tope panel-->
        <div class="breadcrumbs">
        <ul>
            <li><a href="#">Inicio / </a></li>
            <li>Test Request Generation</li>
        </ul>
        </div>
    </div>
</div>
    <div id="bodymantenimientos">
        <div id="cuerpomantenimientos"> 
          <!--Inicio Area mantenimientos-->
           <form name="productManteniment.formProductManteniment" novalidate role="form">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
              <div class="divheader">
                <h2>Información para validación del cliente</h2>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mantenimiento"> 
                  <span class="label">BIN</span> 
                      <span class="input2">
                        <input 	type="text" 
                          name="bin" 
                          ng-model="productManteniment.viewModelManteniment.bin" 
                          ng-class="{ 'hasError': (productManteniment.submitted || 
                                    productManteniment.formProductManteniment.bin.$touched) && 
                                    productManteniment.formProductManteniment.bin.$invalid}"
                          maxlength="6"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="productManteniment.formProductManteniment.bin.$error.required &&  
                                  (productManteniment.submitted || productManteniment.formProductManteniment.bin.$touched)"
                            >Este campo es obligatorio
                        </span>
                      </span> 
                  <span class="label">Código de Producto</span> 
                      <span class="input2">
                        <input 	type="text" 
                          name="productCode" 
                          ng-model="productManteniment.viewModelManteniment.productCode" 
                          ng-class="{ 'hasError': (productManteniment.submitted || 
                                    productManteniment.formProductManteniment.productCode.$touched) && 
                                    productManteniment.formProductManteniment.productCode.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="productManteniment.formProductManteniment.productCode.$error.required &&  
                                  (productManteniment.submitted || productManteniment.formProductManteniment.productCode.$touched)"
                            >Este campo es obligatorio
                        </span>
                      </span> 

                      <span class="label">Código Prod. FICO</span> 
                      <span class="input2">
                        <input  type="text" 
                          name="productCodeFICO" 
                          ng-model="productManteniment.viewModelManteniment.productCodeFICO" 
                          ng-class="{ 'hasError': (productManteniment.submitted || 
                                    productManteniment.formProductManteniment.productCodeFICO.$touched) && 
                                    productManteniment.formProductManteniment.productCodeFICO.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="productManteniment.formProductManteniment.productCodeFICO.$error.required &&  
                                  (productManteniment.submitted || productManteniment.formProductManteniment.productCodeFICO.$touched)"
                            >Este campo es obligatorio
                        </span>
                      </span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="columna2_1">
                <div class="mantenimiento"> 
                  <span class="label">Limite<br /> Minimo RD$</span> 
                    <span class="input2">
                        <input 	type="text" 
                          name="minimumLimitRD" 
                          ng-model="productManteniment.viewModelManteniment.minimumLimitRD" 
                          ng-class="{ 'hasError': (productManteniment.submitted || 
                                    productManteniment.formProductManteniment.minimumLimitRD.$touched) && 
                                    productManteniment.formProductManteniment.minimumLimitRD.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="productManteniment.formProductManteniment.minimumLimitRD.$error.required &&  
                                  (productManteniment.submitted || productManteniment.formProductManteniment.minimumLimitRD.$touched)"
                            >Este campo es obligatorio
                        </span>
                    </span> 
                  <span class="label">Limite<br />  Maximo RD$</span>
                    <span class="input2">
                        <input 	type="text" 
                          name="maximumLimitRD" 
                          ng-model="productManteniment.viewModelManteniment.maximumLimitRD" 
                          ng-class="{ 'hasError': (productManteniment.submitted || 
                                    productManteniment.formProductManteniment.maximumLimitRD.$touched) && 
                                    productManteniment.formProductManteniment.maximumLimitRD.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="productManteniment.formProductManteniment.maximumLimitRD.$error.required &&  
                                  (productManteniment.submitted || productManteniment.formProductManteniment.maximumLimitRD.$touched)"
                            >Este campo es obligatorio
                        </span>
                   </span> 
                </div>
              </div>
              <div class="columna2_2">
                <div class="mantenimiento">
                  <span class="label">Limite<br />  Minimo US$</span> 
                    <span class="input2">
                        <input 	type="text" 
                          name="minimumLimitUS" 
                          ng-model="productManteniment.viewModelManteniment.minimumLimitUS" 
                          ng-class="{ 'hasError': (productManteniment.submitted || 
                                    productManteniment.formProductManteniment.minimumLimitUS.$touched) && 
                                    productManteniment.formProductManteniment.minimumLimitUS.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="productManteniment.formProductManteniment.minimumLimitUS.$error.required &&  
                                  (productManteniment.submitted || productManteniment.formProductManteniment.minimumLimitUS.$touched)"
                            >Este campo es obligatorio
                        </span>
                    </span> 
                  <span class="label">Limite<br />  Maximo US$</span> 
                    <span class="input2">
                        <input 	type="text" 
                          name="maximumLimitUS" 
                          ng-model="productManteniment.viewModelManteniment.maximumLimitUS" 
                          ng-class="{ 'hasError': (productManteniment.submitted || 
                                    productManteniment.formProductManteniment.maximumLimitUS.$touched) && 
                                    productManteniment.formProductManteniment.maximumLimitUS.$invalid}"
                          ng-maxlength="20"
                          ng-required="true" />
                          <span 
                            class="alerttext" 
                            ng-if="productManteniment.formProductManteniment.maximumLimitUS.$error.required &&  
                                  (productManteniment.submitted || productManteniment.formProductManteniment.maximumLimitUS.$touched)"
                            >Este campo es obligatorio
                        </span>
                    </span>
                </div>
              </div></div>

              <div class="botonarearight" ng-show="!productManteniment.buttonEdit"> 
                    <button
                        class="boton btnlager btnblack"                        
                        ng-click="productManteniment.addJobsData()">Guardar
                    </button>
              </div>

              <div class="botonarearight" ng-show="productManteniment.buttonEdit"> 
                    <button
                        class="boton btnlager btnblack"                        
                        ng-click="productManteniment.editJobsData(productManteniment.idSourceIncome)">Modificar Producto
                    </button>
              </div>
            </div>
           </form>
          <span class="separador">
          <hr />
          </span>

          <div class="campomantenimientofull" ng-if="productManteniment.tableSourceProdcut[0] !== undefined">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="gridsub" colspan="10">Información de Productos</td>
              </tr>
              <tr class="grid_title">
              <!-- <td style="width:5%"></td>-->
              <td style="width:5%" class="tablecenter">BIN</td>
              <td style="width:5%" class="tablecenter">FICO</td>
              <td style="width:10%">Descripción de Producto </td>
              <td style="width:5%"  class="tablecenter">Código de Producto </td>
              <td style="width:5%" class="tableright">Límite<br /> Máximo RD$:  </td>
              <td style="width:5%" class="tableright">Límite<br /> Mínimo RD$:  </td>
              <td style="width:5%" class="tableright">Límite<br />Máximo US$:  </td>
              <td style="width:5%" class="tableright">Límite<br /> Mínimo US$:  </td>
              <td style="width:10%" class="ultimo"></td>
              </tr>
              <tr class="grid_text" ng-repeat="table in productManteniment.tableSourceProdcut">
                <!--<td class="tablecenter" ></td>-->
                <td  class="tablecenter" ng-bind="table.bin"></td>
                <td  class="tablecenter" ng-bind="table.productCodeFICO"></td>
                <td>Siremas</td>
                <td class="tablecenter" ng-bind="table.productCode"></td>
                <td class="tableright" ng-bind="table.maximumLimitRD | currency:'':0"></td>
                <td class="tableright" ng-bind="table.minimumLimitRD | currency:'':0"></td>
                <td class="tableright" ng-bind="table.maximumLimitUS | currency:'':0"></td>
                <td class="tableright" ng-bind="table.minimumLimitUS | currency:'':0"></td>
                <td>
                  <button class="boton"
                        ng-click="productManteniment.viewJobsData($index)">Editar
                  </button> 
                  <div ng-show="table.status === 'I'">
                    <button class="botonlarge"                            
                            ng-click="productManteniment.statusButton($index)">
                            Activar
                    </button>
                  </div>
                  <div ng-show="table.status === 'A'">
                    <button class="btnredp"                            
                            ng-click="productManteniment.statusButton($index)">
                            Desactivar
                    </button>
                  </div>
                </td>
              </tr>
            </table>
            
          </div>
          
                    <div class="botonareacenter">
            <button ng-click="productManteniment.modalCancel()" 
                  class="boton3 btnlager2 btnred" >
                  Volver a Dashboard
            </button>
         </div>
          <!--Inicio Area footer-->
          
          <!--Fin Area mantenimientos--> 
        </div>
      </div>