     <div id="titulo">
        <div id="contenedortitulo">
          <div id="topepanel">
            <h2>Mantenimiento de Bines y Código de Producto</h2>
          </div>
          <!--fin area tope panel-->
          <div class="breadcrumbs">
            <ul>
              <li><a  ng-click="transitionManteniment.modalCancel()">Dashboard / </a></li>
              <li>Mantenimiento de Bines y Código de Producto</li>
            </ul>
          </div>
        </div>
      </div>

    <div id="bodymantenimientos">
        <div id="cuerpomantenimientos"> 
          <!--Inicio Area mantenimientos-->

          <form name="transitionManteniment.formProductManteniment" novalidate role="form">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
            <div class="divheader">
              <h2>Mantenimiento</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento"> <span class="label">Número de BIN</span> 
                <span class="input">
                        <input  type="text" 
                          name="bin" 
                          ng-model="transitionManteniment.viewModelTransition.bin"
                          ng-maxlength="20" />
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento">
                <span class="label">Código Producto</span>
                 <span class="input2">
                         <input  type="text" 
                          name="productCode" 
                          ng-model="transitionManteniment.viewModelTransition.productCode"
                          ng-maxlength="6"/>
                 </span>
                
                <span class="label">Producto</span> 
                <span class="input2">
                        <input  type="text" 
                          name="productName" 
                          ng-model="transitionManteniment.viewModelTransition.productName"
                          ng-maxlength="20" />
                    </span>  
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento addTow" ng-if="transitionManteniment.buttonEdit">
                <span class="label">Tipo de Producto</span>
                 <span class="input2">
                         <input  type="text" 
                          name="productType" 
                          ng-model="transitionManteniment.viewModelTransition.productType" 
                          ng-maxlength="20"/>
                 </span>
                
                <span class="label">Status</span> 
                <span class="input2">
                        <input  type="text" 
                          name="status" 
                          ng-model="transitionManteniment.viewModelTransition.status" 
                          ng-maxlength="20" />
                    </span>  
                </div>
            </div>
           

              <div class="botonarearight" ng-show="!transitionManteniment.buttonEdit"> 
                    <button
                        class="boton btnlager btnblack"                        
                        ng-click="transitionManteniment.seachJobsData()">Filtrar
                    </button>
              </div>

              <div class="botonarearight" ng-show="transitionManteniment.buttonEdit"> 
                    <button
                        class="boton btnlager btnblack"                        
                        ng-click="transitionManteniment.editJobsData(transitionManteniment.idSourceIncome)">Modificar Producto
                    </button>
              </div>
          </div>
          </form>
          
          <span class="separador">
          <hr />
          </span>
          <div class="campomantenimientofull">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
               <td class="gridsub" colspan="10">Listados de Productos 
                  <button  ng-click="transitionManteniment.addNewBin()" id="myBtn" class="boton2 btn btnblu">Nuevo</button></td>
              </tr>
                <tr class="grid_title" ng-if="transitionManteniment.tableSourceProdcut[0] !== undefined">
                <td style="width:5%"></td>
                <td style="width:10%" class="tablecenter"  >BIN</td>
                <td style="width:10%" class="tablecenter">Código de Producto </td>
                <td style="width:20%">Tipo de Producto </td>
                <td style="width:25%" >Producto </td>
                <td style="width:10%" class="tablecenter">Status </td>
                <td style="width:20%" class="ultimo"></td>
                </tr>
                <tr class="grid_text"
                   ng-if="transitionManteniment.tableSourceProdcut[0] !== undefined"
                   ng-repeat="table in transitionManteniment.tableSourceProdcut">
                <td class="tablecenter" >1</td>
                <td class="tablecenter" ng-bind="table.bin"></td>
                <td class="tablecenter" ng-bind="table.productCode"></td>
                <td ng-bind="table.productType"></td>
                <td ng-bind="table.productName"></td>
                <td ng-bind="table.status" class="tablecenter"></td>
                <td>
                  <button class="boton" 
                          ng-click="transitionManteniment.viewJobsData($index)">
                          Editar
                  </button> 
                  <button class="boton"
                          ng-click="transitionManteniment.deleteJobsData($index)">
                          Cancelar
                  </button>
                </td>
                </tr>
            </table>
            
          </div>
        <div id="myModal" class="modal w3-animate-opacity">

        <!-- Modal content -->
          <span class="close w3-animate-opacity"></span>
          <div class="w3-modal-content w3-card-4">
          <form name="transitionManteniment.formProductMantenimentNew" id="myForm" novalidate role="form">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
                <div class="divheader">
                  <h2>Agregar un nuevo Bin y Código de Producto</h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="mantenimiento">

                    <span class="label">Número de BIN</span> 
                    <span class="input2">
                            <input  type="text" 
                              name="binNew" 
                              ng-model="transitionManteniment.viewModelTransitionNew.binNew" 
                              ng-class="{ 'hasError': (transitionManteniment.submitted || 
                                        transitionManteniment.formProductMantenimentNew.binNew.$touched) && 
                                        transitionManteniment.formProductMantenimentNew.binNew.$invalid}"
                              ng-maxlength="20"
                              ng-required="true" />
                    </span>

                    <span class="label">Producto</span> 
                    <span class="input2">
                            <input  type="text" 
                              name="productNameNew" 
                              ng-model="transitionManteniment.viewModelTransitionNew.productNameNew" 
                              ng-class="{ 'hasError': (transitionManteniment.submitted || 
                                        transitionManteniment.formProductMantenimentNew.productNameNew.$touched) && 
                                        transitionManteniment.formProductMantenimentNew.productNameNew.$invalid}"
                              ng-maxlength="20"
                              ng-required="true" />
                        </span>  
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="mantenimiento">
                    <span class="label">Tipo de Producto</span>
                     <span class="input2">
                             <input  type="text" 
                              name="productTypeNew" 
                              ng-model="transitionManteniment.viewModelTransitionNew.productTypeNew" 
                              ng-class="{ 'hasError': (transitionManteniment.submitted || 
                                        transitionManteniment.formProductMantenimentNew.productTypeNew.$touched) && 
                                        transitionManteniment.formProductMantenimentNew.productTypeNew.$invalid}"
                              ng-maxlength="20"
                              ng-required="true" />
                     </span>
                    
                    <span class="label">Código Transacción</span>
                     <span class="input2">
                             <input  type="text" 
                              name="productCodeNew" 
                              ng-model="transitionManteniment.viewModelTransitionNew.productCodeNew" 
                              ng-class="{ 'hasError': (transitionManteniment.submitted || 
                                        transitionManteniment.formProductMantenimentNew.productCodeNew.$touched) && 
                                        transitionManteniment.formProductMantenimentNew.productCodeNew.$invalid}"
                              ng-maxlength="20"
                              ng-required="true" />
                     </span>
                    </div>
                </div>
               
                <div ng-if="transitionManteniment.formNewInvalid" class="formNewInvalid">Debes completar todos los campos</div>
                  <div class="botonareacenterNew" > 
                        <button
                            class="boton btnlager btnblue positionBtn"                        
                            ng-click="transitionManteniment.addJobsData()">Guardar Producto
                        </button>
                  </div>
              </div>
          </form>
          </div>
      </div>
          <div class="botonareacenter">
            <button ng-click="transitionManteniment.modalCancel()" 
                  class="boton3 btnlager2 btnred" >
                  Volver a Dashboard
            </button>
         </div>
          
          <!--Inicio Area footer-->
          <!--Fin Area mantenimientos--> 
        </div>
      </div>