     <div id="titulo">
        <div id="contenedortitulo">
          <div id="topepanel">
            <h2>Matenimiento de MCC</h2>
          </div>
          <!--fin area tope panel-->
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Inicio / </a></li>
              <li>Test Request Generation</li>
            </ul>
          </div>
        </div>
      </div>

    <div id="bodymantenimientos">
        <div id="cuerpomantenimientos"> 
          <!--Inicio Area mantenimientos-->

          <form name="transactionComerce.formProductMantenimentAffiliate" novalidate role="form">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
            <div class="divheader">
              <h2>MCC</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="mantenimiento"> <span class="label">MCC</span> <span class="input2">
                        <input  type="text" 
                          name="description" 
                          ng-model="transactionComerce.viewModelTransitionAffiliate.description"
                          ng-maxlength="20"
                          ng-class="{ 'hasError': (transactionComerce.submitted || 
                                    transactionComerce.formProductMantenimentAffiliate.mcc.$touched) && 
                                    transactionComerce.formProductMantenimentAffiliate.mcc.$invalid}"
                          ng-required="true" />
                        <span 
                            class="alerttext" 
                            ng-if="transactionComerce.formProductMantenimentAffiliate.mcc.$error.required &&  
                                  (transactionComerce.submitted || transactionComerce.formProductMantenimentAffiliate.mcc.$touched)"
                            >Este campo es obligatorio
                        </span>
                </span>
                <div ng-if="transactionComerce.buttonEdit">
                  <span class="label">Estatus</span> 
                  <span class="input2">
                     <select name="status" style="width:100px"
                        ng-model="transactionComerce.viewModelTransitionAffiliate.status" 
                        ng-class="{ 'hasError': (transactionCode.submitted || transactionComerce.formProductMantenimentAffiliate.status.$touched) && transactionComerce.formProductMantenimentAffiliate.status.$invalid}" 
                        ng-options="optStatus.valValue as optStatus.valDescription for optStatus in transactionComerce.optStatus"
                        required >
                     </select>
                     <span class="alerttext" 
                        ng-if="(transactionComerce.submitted || transactionComerce.formTransactionCode.status.$touched) 
                        && transactionComerce.formTransactionCode.status.$error.required" >
                     Este campo es obligatorio
                     </span>
                  </span>
                  </div>
                </div>
            </div>
           

              <div class="botonarearight" ng-show="!transactionComerce.buttonEdit"> 
                    <button
                        class="boton btnlager btnblack"                        
                        ng-click="transactionComerce.seachJobsData()">Filtrar
                    </button>
              </div>

              <div class="botonarearight" ng-show="transactionComerce.buttonEdit"> 
                    <button
                        class="boton btnlager btnblack"                        
                        ng-click="transactionComerce.editJobsData(transactionComerce.idSourceIncome)">Modificar Producto
                    </button>
              </div>
          </div>
          </form>
          
          <span class="separador">
          <hr />
          </span>
          <div class="campomantenimientofull" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
               <td class="gridsub" colspan="10">Listados de Productos 
                  <button  ng-click="transactionComerce.addNewBin()" id="myBtn" class="boton2 btn btnblu">Nuevo</button></td>
              </tr>
                <tr class="grid_title" ng-if="transactionComerce.tableSourceProdcut[0] !== undefined">
                <td style="width:5%"></td>
                <td style="width:55%" >Descripción</td>
                <td style="width:20%" class="tablecenter">Estatus </td>
                <td style="width:20%" class="ultimo"></td>
                </tr>
                <tr class="grid_text"
                   ng-repeat="table in transactionComerce.tableSourceProdcut">
                <td class="tablecenter" ></td>
                <td class="tablecenter" ng-bind="table.description"></td>
                <td class="tablecenter" ng-bind="table.status"></td>
                <td>
                  <button class="boton" 
                          ng-click="transactionComerce.viewJobsData($index)">
                          Editar
                  </button> 
                  <button class="boton"
                          ng-click="transactionComerce.deleteJobsData($index)">
                          Ver Detalle
                  </button>
                </td>
                </tr>
            </table>
            
          </div>
        <div id="myModal" class="modal w3-animate-opacity">

        <!-- Modal content -->
          <span class="close w3-animate-opacity"></span>
          <div class="w3-modal-content w3-card-4">
          <form name="transactionComerce.formProductMantenimentNew" id="myForm" novalidate role="form">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 campomantenimiento">
                <div class="divheader">
                  <h2>Agregar un nuevo MCC</h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="mantenimiento">

                    <span class="label">Descripción</span> 
                    <span class="input2">
                            <input  type="text" 
                              name="binNew" 
                              ng-model="transactionComerce.viewModelTransaction.binNew" 
                              ng-class="{ 'hasError': (transactionComerce.submitted || 
                                        transactionComerce.formProductMantenimentNew.binNew.$touched) && 
                                        transactionComerce.formProductMantenimentNew.binNew.$invalid}"
                              ng-maxlength="20"
                              ng-required="true" />
                    </span>

                    <span class="label">Status</span> 
	                  <span class="input2">
	                     <select name="status" style="width:85px"
	                        ng-model="transactionComerce.viewModelTransaction.status" 
	                        ng-class="{ 'hasError': (transactionComerce.submitted || transactionComerce.formProductMantenimentNew.status.$touched) && transactionComerce.formProductMantenimentNew.status.$invalid}" 
	                        ng-options="optStatus.valValue as optStatus.valDescription for optStatus in transactionComerce.optStatus"
	                        required >
	                     </select>
	                     <span class="alerttext" 
	                        ng-if="(transactionComerce.submitted || transactionComerce.formProductMantenimentNew.status.$touched) 
	                        && transactionComerce.formProductMantenimentNew.status.$error.required" >
	                     </span> 
                    </div>
                </div>
               
                <div ng-if="transactionComerce.formNewInvalid" class="formNewInvalid">Debes completar todos los campos</div>
                  <div class="botonareacenterNew" > 
                        <button
                            class="boton btnlager btnblue positionBtn"                        
                            ng-click="transactionComerce.addJobsData()">Guardar Producto
                        </button>
                  </div>
              </div>
          </form>
          </div>
      </div>
                    <div class="botonareacenter">
            <button ng-click="transactionComerce.modalCancel()" 
                  class="boton3 btnlager2 btnred" >
                  Volver a Dashboard
            </button>
         </div>
          <!--Inicio Area footer-->
          <!--Fin Area mantenimientos--> 
        </div>
      </div>