@charset "utf-8";
@font-face {
	font-family: 'roboto_condensedbold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/roboto/opensans-bold-webfont.eot');
	src: url('../fonts/roboto/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/opensans-bold-webfont.woff') format('woff'), url('../fonts/roboto/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/roboto/opensans-bold-webfont.svg#open_sansbold') format('svg');
}
@font-face {
	font-family: 'roboto_condensedlight';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/roboto/opensans-light-webfont.eot');
	src: url('../fonts/roboto/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/opensans-light-webfont.woff') format('woff'), url('../fonts/roboto/opensans-light-webfont.ttf') format('truetype'), url('../fonts/roboto/opensans-light-webfont.svg#open_sanslight') format('svg');
}
@font-face {
	font-family: 'roboto_condensedregular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/roboto/opensans-regular-webfont.eot');
	src: url('../fonts/roboto/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/opensans-regular-webfont.woff') format('woff'), url('../fonts/roboto/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/roboto/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
body {
	background-color: #474F57;
	font-family: 'roboto_condensedregular', arial, sans-serif;
	margin: 0px;
	padding: 0px;
}
* {
	margin: 0px;
	padding: 0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'open_sansbold', arial, sans-serif;
}
body, html {
	height: 100%;
}
#contenedor, #top, #bodycontenedor {
	float: left;
	position: relative;
	width: 100%;
}
#contenedor, #bodycontenedor {
	display: table;
	height: 100%;
	min-height: 100% !important;
}
#bodyfull {
	background-color: #dedede;
	min-height: 100%;
	position: relative;
	display:inline-block;
	width: 100%;
}
#bodyleft {
	display: table-cell;
	float: left;
	height: 100%;
	min-height: 100%;
	overflow: visible;
	position: relative;
	width: 100%;
}
#bodyright {
	background-color: #EEEFF2;
	border-left: 1px solid #ccc;
	box-sizing: border-box;
	display: table-cell;
	height: 100%;
	margin-right: 0px;
	min-height: 100%;
	position: relative;
	vertical-align: top;
	width: 85%;
}
#bodymantenimientos {
	float: none;
	margin: auto;
	width: 98%;
	max-width:1200px
}
#cuerpomantenimientos {
	float: left;
	padding: 10px 0px;
	width: 100%;
}
#top {
	background-color: #404952;
	display: block;
	padding: 5px 0px;
	position: relative;
	z-index: 1;
}
.logo {
	cursor: pointer;
	float: left;
	height: 40px;
	line-height: 38px;
	padding-left: 15px;
	position: relative;
	width: 35%;
}
.top_links {
	float: right;
}
.top_links > ul {
	margin: 0;
	padding: 0;
}
.top_links > ul > li {
	background-position: 6px 8px;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	margin-left: 8px;
	padding: 0 6px;
	position: relative;
}
.top_links > ul > li:last-child {
	margin-left: 0;
}
.top_links > ul > li:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
.top_links > ul > li > a {
	display: block;
	height: 38px;
	padding-left: 22px;
}
.top_links > ul > li.search_icon {
	cursor: pointer;
	width: 21px;
}
.top_links > ul > li.search_icon .top_tooltip {
	border-top: 2px solid transparent;
}
.nombre {
	color: #8f8f8f;
	font-size: 13px;
	font-size: 15pt;
	text-shadow: 0 1px 0 #FFFFFF;
	width: 100%;
}
.label {
	box-sizing: border-box;
	color: #fff;
	float: left;
	font-size: 10pt;
	font-size: 13px;
	font-weight: normal;
	line-height: 20pt;
	padding: 10px 5px;
	position: relative;
	white-space: nowrap;
	width: 20%;
}
span.label3 {
	box-sizing: border-box;
	float: left;
	font-weight: normal;
	line-height: 20pt;
	padding: 10px 5px;
	position: relative;
}
.top_links ul li a {
	color: #8f8f8f;
}
.emailcontador {
	background-color: #F77E0B;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px #F47517, 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #fff;
	float: right;
	height: 16px;
	line-height: 16px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: center;
	width: 16px;
}
.desc, .conf, .mail, .usuario {
	background-position: left center;
	background-repeat: no-repeat;
}
.conf {
	background-image: url(../images/conf.png);
}
.mail {
	background-image: url(../images/mail.png);
}
.desc {
	background-image: url(../images/logout.png);
}
.usuario {
	background-image: url(../images/user_avatar.png);
}
.logoclient {
	float: left;
	padding: 8px 0;
	text-align: center;
	width: 100%;
}
.logoclient img {
	float: left;
	margin: 20px 2%;
	max-height: 150px;
	width: 96%;
}
#titulo {
	background: #f3f3f3;
	border-bottom: 1px solid #fff;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.19);
	float: left;
	padding: 8px 0px;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
}
#contenedortitulo {
	float: none;
	margin: auto;
	width: 98%;
}
#topepanel {
	border-bottom: dotted 1px #255688;
	float: left;
	padding: 20px 0px 10px 0px;
	width: 100%;
}
#topepanel h2 {
	color: #333;
	font-size: 26px;
	font-weight: normal;
}
.breadcrumbs {
	float: left;
	padding: 5px 0px;
	position: relative;
	width: 100%;
}
.breadcrumbs ul {
	float: left;
	list-style: none !important;
	margin: 0px;
	padding: 0px 0px 3px 0px;
	position: relative;
	text-align: justify;
	width: 100%;
}
.breadcrumbs li {
	color: #9D9D9D;
	float: left;
	font-size: 9pt;
	font-stretch: extra-expanded;
	font-weight: normal;
	line-height: 14pt;
	list-style: none;
	padding: 0px 0px 5px 5px;
	text-decoration: none;
}
.breadcrumbs li a {
	color: #2261ae;
}
.breadcrumbs li a:hover {
	color: #000;
}
.columna2_1, .columna2_2 {
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 50%;
}
.columna2_2 {
	float: right;
	padding-right: 0%;
}
.columna3_1, .columna3_2, .columna3_3 {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-right: 1%;
	position: relative;
	width: 33%;
}
.columna3_3 {
	float: right;
	padding-right: 0%;
}
.columna4_1, .columna4_3, .columna4_3, .columna4_4 {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-right: 1%;
	position: relative;
	width: 24%;
}
.columna4_4 {
	float: right;
	padding-right: 0%;
}
.columna5_1, .columna5_3, .columna5_3, .columna5_4, .columna5_5 {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-right: 1%;
	position: relative;
	width: 19%;
}
.columna5_5 {
	float: right;
	padding-right: 0%;
}
.columna75_25_1, .columna75_25_2 {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-right: 1%;
    position: relative;
    word-wrap: break-word;
    width: 58%;
}

.campomantenimiento h4, .campomantenimientofull h4, .campomantenimientoleft h4, .campomantenimientoright h4, .campogridfull h4, .campogridleft h4, .campogridright h4 {
	color: #000;
	float: left;
	font-size: 10pt;
	padding-top:10px;
	font-weight: normal;
	line-height: 18px;
	text-align: left;
	text-indent: 15px;
}

.campomantenimientomodal .mantenimiento, .mantenimiento.end {
	border: 0;
}
.columna755_25_1 {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-right: 1%;
    position: relative;
    word-wrap: break-word;
    width: 100%;
}

tr.grid_titleOnbase td {
	background-color: #f1f1f1;
	background-image: url(../images/grid.jpg);
	background-repeat: repeat-x;
	border-right: solid 1px #fff;
	color: #333;
	font-size: 10pt;
	line-height:13pt;
	font-weight: bold;
	padding: 10px 5px;
	height:55px;
	vertical-align:middle
}

.campomantenimiento h3, .campomantenimientofull h3, .campomantenimientoleft h3, .campomantenimientoright h3, .campogridfull h3, .campogridleft h3, .campogridright h3 {
	color: #999;
	float: left;
	font-size: 12pt;
	padding-top:25px;
	font-weight: normal;
	line-height: 28px;
	text-align: left;
	text-indent: 15px;
}
.columna75_25_2 {
    float: right;
    padding-right: 0%;
    word-wrap: break-word;
    width: 30%;
}
.columna25_75_1, .columna25_75_2 {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-right: 1%;
	position: relative;
	width: 24%;
}
.columna25_75_2 {
	float: right;
	padding-right: 0%;
	width: 74%;
}
#alerta {
	float: left;
	width: 100%;
	z-index: 999;
}
div.error {
	background-color: #930;
	color: #fff;
	font-size: 9pt;
	padding: 10px;
	animation:opac 0.7s;
}
#subtitulo {
	border-bottom: dotted 1px #dadada;
	color: #9D9D9D;
	float: left;
	font-size: 15pt;
	margin-bottom: 5px;
	padding: 20px 0px 3px 0px;
	width: 100%;
}
.campomantenimiento{
	background-color: #fff;
	border: solid 1px #dadada;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}	
.campomantenimientofull, .campomantenimientoleft, .campomantenimientoright, .campogridfull, .campogridleft, .campogridright, .campomantenimientomodal {
	background-color: #fff;
	border: solid 1px #dadada;
	border-bottom: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	float: left;
	padding: 0px;
	width: 100%;
}
.campomantenimientomodal {
	border: 0;
}
#rightsection {
	float: right;
	padding: 0px;
	width: 29%;
}
#leftsection {
	float: left;
	padding: 0px;
	width: 70%;
}
.campomantenimientoleft, .campomantenimientoright, .campogridleft, .campogridright {
	width: 49%;
}
.campomantenimientoright, .campogridright {
	float: right;
}
.divheader {
	float: left;
	padding: 25px 0px;
	width: 100%;
}
.campomantenimiento h2, .campomantenimientofull h2, .campomantenimientoleft h2, .campomantenimientoright h2, .campogridfull h2, .campogridleft h2, .campogridright h2 {
	color: #9D9D9D;
	float: left;
	font-size: 14pt;
	font-weight: normal;
	line-height: 28px;
	text-align: left;
	text-indent: 15px;
}
.campomantenimientomodal h2 {
	border-bottom: solid 1px #c5c5c5;
	color: #9D9D9D;
	float: left;
	font-size: 16pt;
	font-weight: normal;
	padding: 15px 0px;
	text-align: left;
	text-indent: 5px;
	width: 100%;
}
span.separadortop {
	margin-bottom: 10px;
}
.separador {
	float: left;
	padding: 5px 0px;
	width: 100%;
}
.separador hr {
	border: solid 1px #e8e8e8;
}
div.mantenimiento {
	border-bottom: solid 1px #dadada;
	float: left;
	padding: 9px 0px;
	width: 100%;
}
.campomantenimientomodal .mantenimiento {
	border: 0;
}
div.mantenimiento span.label, div.mantenimiento span.label2 {
	box-sizing: border-box;
	color: #333;
	float: left;
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
	height:45px;
	padding: 17px 5px 10px 5px;
	position: relative;
	text-align: right;
	width: 20%;
	hyphens: auto;
	vertical-align:middle
}

.tableCorreo {
	left: 118px;
    position: relative;
}

div.mantenimiento span.labelPlace {
	box-sizing: border-box;
	color: #333;
	float: left;
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
	height:45px;
	padding: 17px 5px 10px 5px;
	position: relative;
	text-align: left;
	width: 10%;
	vertical-align:middle
}
li.usuario span.label {
	color: #fff;
}

/*Estilos Input*/
span.input, span.input2, span.input3 {
	box-sizing: border-box;
	color: #255688;
	float: left;
	font-size: 9pt;
	font-weight: normal;
	line-height: 20pt;
	padding: 10px 0px;
	position: relative;
	width: 80%;
}
span.input2 {
	float: left;
	width: 29%;
}
span.input3 {
	float: right;
	width: 70%;
}
span.input input[type="text"], input[type="number"], span.input2 input[type="text"], span.input select, span.input2 select {
	border: solid 1px #dadada;
	float: left;
	margin-left: 5px;
	padding: 5px;
	width:90%
}
span.input2 input[type="text"], input[type="number"], {
	width: 80%;
}
span.alerta input{
	border: solid 1px #a40000!important}
span.alerttext{
	color:#a40000;
	font-size:9pt;
	line-height:11pt;
	padding:5px;
	width:100%;
	float:left
}	

/*estilos botones*/
.botonarearight {
	float: right;
	padding: 15px 0px;
}

.botonareacenterNew {
	display:inline-block;
	text-align:center;
	padding: 25px 0px;
	width:100%
}
.botonarealeft {
	float: left;
	padding: 15px 0px;
}
.botonareacenter {
	display:inline-block;
	text-align:center;
	padding: 35px 0px;
	width:100%
}
.botonaccion {
	float: left;
	text-align: center;
}

.positionBtnOnbase {
    position: relative;
    left: 20px;
    top: 15px;
}
a.botonaccion {
	border: solid 1px #dadada;
	color: #333;
	float: left;
	font-size: 9pt;
	font-weight: bold;
	margin-left: 5px;
	padding: 5px 10px;
	text-align: center;
}
a.botonaccion:hover {
	background: #333;
	color: #fff;
}
button.boton, button.boton2, button.boton3{
	background: #235384;
	border: solid 1px #235384;
	border-radius: 5px;
	color: #fff;
	float: left;
	font-size: 10pt;
	margin: 0px;
	margin-right: 5px;
	border-radius: 5px;
	padding: 5px 5px;
	text-align: center;
}
button.boton2 {
	float: right;
	font-size: 8pt;
}
button.boton3{
	float:none}
a.boton:hover, button.boton2:hover {
	background: #3680cc;
	border: solid 1px #3680cc;
	color: #fff;
}
a.btnsmall {
	padding: 2px 3px;
}
a.btnbig {
	padding: 8px 20px;
}
a.btnbiger {
	padding: 15px 30px;
}
button.btnlager {
	padding: 8px 35px;
}
button.btnlager2 {
	padding: 8px 55px;
}
button.btnred {
	background: #a40000;
	border: solid 1px #a40000;
}
button.btnred:hover {
	background: #700000;
	border: solid 1px #700000;
}
button.btngreen {
	background: #337300;
	border: solid 1px #337300;
}
a.btngris{
	background: #c5c5c5;
	border: solid 1px #c5c5c5;
}
a.btngris:hover {
	background: #e5e5e5;
	border: solid 1px #e5e5e5;
}
button.btnblack {
	background: #000;
	border: solid 1px #000;
}
button.btnblack:hover {
	background: #666;
	border: solid 1px #666;
}
.gridsub {
	background-color: #e8e8e8;
	border-bottom: solid 1px #fff;
	color: #333;
	font-size: 11pt;
	font-weight: bold;
	padding: 12px 5px;
	text-align: left;
}
tr.grid_title td {
	background-color: #f1f1f1;
	background-image: url(../../img/grid.jpg);
	background-repeat: repeat-x;
	border-right: solid 1px #fff;
	color: #333;
	font-size: 10pt;
	font-weight: bold;
	padding: 10px 5px;
	text-align: left;
}

tr.grid_titleOnbase td {
	background-color: #f1f1f1;
    background-image: url(../../img/grid.jpg);
    background-repeat: repeat-x;
    border-right: solid 1px #fff;
    color: #333;
    font-size: 10pt;
    font-weight: bold;
    padding: 2px 10px;
    text-align: left;
}

tr.grid_textOnbase td {
	border-bottom: solid 1px #dadada;
	color: #333;
	font-family: arial !important;
	font-size: 9pt;
	height:45px;
	vertical-align:middle;
	font-weight: normal;
	padding: 10px 5px;
	text-align: left;
}
tr.grid_title td.ultimo {
	border-right: 0px !important;
}
tr.grid_text td, tr.grid_textalt td {
	border-bottom: solid 1px #dadada;
	color: #333;
	font-family: arial !important;
	font-size: 9pt;
	font-weight: normal;
	padding: 10px 5px;
	text-align: left;
}

tr.grid_textOnbase td, tr.grid_textalt td {
    border-bottom: solid 1px #dadada;
    color: #6E6E6E;
    font-family: arial !important;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 18px;
    text-align: left;
}
tr.grid_textalt td {
	background-color: #f5f5f5;
}
td.tablecenter {
	text-align: center;
}
td.tableright {
	text-align: right;
}
table.pagenumber {
	margin: 5px 0px;
}
.pagenumber td {
	padding: 3px 5px 0px 0px;
}
.pagenumber a {
	background-color: #ad3724;
	color: #fff;
	font-size: 7pt;
	padding: 3px 5px;
	text-align: center;
}
.pagenumber a:hover {
	background-color: #000;
	color: #fff;
}
.contenedortabs {
	float: left;
	margin: auto;
	width: 100%;
}
.contenedortabs ul.tabs {
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	float: left;
	height: 32px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.contenedortabs ul.tabs li {
	background: #255688;
	border: 1px solid #999;
	border-left: none;
	float: left;
	height: 32px;
	line-height: 31px;
	margin: 0;
	margin-bottom: -1px;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.contenedortabs ul.tabs li a:hover {
	background: #57B6DD;
}
.contenedortabs ul.tabs li.active, .contenedortabs ul.tabs li.active a:hover {
	background: #EEEFF2;
	border-bottom: 1px solid #EEEFF2;
}
.contenedortabs ul.tabs li.active a {
	color: #255688 !important;
}
.contenedortabs ul.tabs li a {
	border: 1px solid #fff;
	color: #fff;
	display: block;
	font-family: 'open_sansbold', arial, sans-serif;
	font-size: 10pt;
	outline: none;
	padding: 0 20px;
	text-decoration: none;
}
.tab_container {
	border-top: none;
	clear: both;
	float: left;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 100%;
}
.tab_content {
	padding: 20px 0px;
}
.tab_content h3 a {
	color: #254588;
}
.tab_content img {
	border: 1px solid #ddd;
	float: left;
	margin: 0 20px 20px 0;
	padding: 5px;
}
#footer {
	border-top: dotted 1px #888;
	bottom: 0px;
	color: #888;
	float: left;
	font-size: 9pt;
	margin-top: 10px;
	padding: 10px 0px 10px 0px;
	vertical-align: baseline;
	width: 100%;
}
/*estilos extras modal*/
.botonarea{
    /* width: 100%; */
    /* padding: 15px 0; */
    float: right;
    /* left: 40%; */
    bottom: 25px;
    right: 18%;
    text-align: center;
    position: relative;
}
.botonarea a{
    display: inline-block;
    margin-top: 20px;
	}
	.campomantenimientomodal p{
	font-size:13pt;
	line-height:16pt;
	padding:10px 0px;
	width:100%;
	float:left;
	text-align:center
	}
.campomantenimientomodal h3{
	font-size:20pt;
	line-height:24pt;
	padding:10px 0px;
	width:100%;
	float:left;
	text-align:center
	}
/*ESTILO PARA ERROR EN LOS INPUT Y SELECT*/
.hasError {
  border: 1px solid #B94A48 !important;
}

.Btn-Cerrarsesion.Gradient-gris {
    display: none;
}

.botonarearight.btnValid {
    margin-right: 80px;
}

button.btnInactive {
  background: #666;
  border: solid 1px #666;
  cursor: not-allowed;
}

.btnblack {
    background: #235384 !important;
    border: 1px solid #235384 !important;
	cursor: default !important;
	cursor: pointer !important;
}

.ventanaFLotante {
background: black;
    border: 2px solid black;
    border-radius: 3px 3px 3px 3px;
    bottom: 14px;
    box-shadow: 0 1px 4px red 0 1px 0;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 12px;
    height: auto;
    line-height: 16px;
    opacity: 0.9;
    padding: 5px;
    position: absolute;
    left: 227px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    width: 150px;
    z-index: 30000;

}

.ventanaFLotante:hover {
    opacity: 1;
}


  .textbox
  {
	border: 1px solid #DBE1EB;
    font-size: 13px;
    font-family: Arial, Verdana;
    padding-left: 8px;
    margin-left: 7px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #6E6E6E;
  }

  /*tarjeta de claves*/
.tdc{
                width:100%; text-align:center; float:left; padding:10px 0}
.tdc p{ width:100%; float:left; padding-top:8px; font-size:12pt; text-align:center; color:#a1a1a1}           
.inputTdcWrap{    position: relative;
    width: 120px;
    margin: 5px auto;
    /* border: thin solid #ccc; */
    border-radius: 6px;
}
.inputTdcWrap .keyWrap{float: left;
    width: 40px;
    height: 35px;
    padding: 7px 0;
    border-radius: 6px 0 0 6px;
    background: #33495f;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.inputTdcWrap .keyWrap p {
    width: 100%;
    margin: 0;
    color: white;
    line-height: 16pt;
}
.inputTdcWrap .inputKeyWrap input[type='password'] {
    font-size: 15px !important;
    float: left;
    width: 70px;
    height: 35px;
    text-align: center;
    border-radius: 0 6px 6px 0;
    margin:0px;
    border: 1px solid #ccc;
}
.inputTdcWrap .boton{
                    float: right;
    padding: 3px 10px;}

.modal-content {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .9s;
    animation-name: animatetop;
    animation-duration: .9s;
    width: 55%;
    height: 80%;
    top: 10%;
    right: 6px;
    left: 20%;
}

.modal {
    top: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(43,46,56,.9);
    -webkit-overflow-scrolling: touch;
}


.remodal {
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 11px;
    padding: 35px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color: #2b2e38;
    background: #fff;
}

span.input input[type=email] {
    border: 1px solid #dadada;
    float: left;
    margin-left: 5px;
    padding: 5px;
    width: 80%;
}

button.botonlarge {
    background: #235384;
    border: solid 1px #235384;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 10pt;
    margin: 0px;
    margin-right: 5px;
    padding: 5px 10px;
    text-align: center;
}

button.btnredp {
    background: #a40000;
    border: solid 1px #a40000;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 10pt;
    margin: 0px;
    margin-right: 5px;
    padding: 5px 10px;
    text-align: center;
}



button.btnredp:hover {
    background: #700000;
    border: solid 1px #700000;
}

button.botonlarge:hover {
    background: #3680cc;
    border: solid 1px #3680cc;
    color: #fff;
}

.mayusculas {
	text-transform: uppercase;
}

.inputCalle input[type="text"] {
    border: solid 1px #dadada;
    float: left;
    margin-left: 5px;
    padding: 5px;
    width: 80%;
}

.inputCalle input[type="email"] {
    border: solid 1px #dadada;
    float: left;
    margin-left: 5px;
    padding: 5px;
    width: 80%;
}

.inputSector select {
    border: solid 1px #dadada;
    float: left;
    margin-left: 5px;
    padding: 5px;
    width: 80%;
}

.positioOnbase select {
    border: solid 1px #dadada;
    float: left;
    margin-left: 30px;
    padding: 5px;
    width: 40%;
    top: 15px;
    position: relative;
}

div.modalOnbase {
float: left;
    left: 50px;
    bottom: 30px;
    padding: 7px 0px;
    width: 100%;
    position: relative;
}

div.modalOnbase span.label {
    box-sizing: border-box;
    color: #333;
    float: left;
    font-size: 10pt;
    font-weight: normal;
    line-height: 12pt;
    height: 45px;
    padding: 17px 5px 10px 5px;
    position: relative;
    text-align: right;
    width: 20%;
    vertical-align: middle;
}

button.botonNew {
    float: right;
    font-size: 8pt;
}

.positionMantenimiento {
	position: relative;
}

button.positionBtn {
    float: initial;
}


.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}
.modal80{
	width:80%}
.modal50{
	width:50%}
.modal25{
	width:25%}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

.w3-animate-opacity{animation:opac 0.4s}@keyframes opac{from{opacity:0} to{opacity:1}}

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

.campomantenimientomodal {
    border: 0;
    position: fixed;
    margin-top: 8%;
    margin-left: 24%;
}

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}



.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px; top: 15%;}






@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}
.w3-cell-top{vertical-align:top}.w3-cell-middle{vertical-align:middle}.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:700px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}}





.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.4s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}
.w3-greyscale-max,.w3-grayscale-max,.w3-hover-greyscale:hover,.w3-hover-grayscale:hover{filter:grayscale(100%)}
.w3-greyscale,.w3-grayscale{filter:grayscale(75%)}.w3-greyscale-min,.w3-grayscale-min{filter:grayscale(50%)}
.w3-sepia{filter:sepia(75%)}.w3-sepia-max,.w3-hover-sepia:hover{filter:sepia(100%)}.w3-sepia-min{filter:sepia(50%)}
.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}


.formNewInvalid {
	background-color: #f0f0f0;
    margin: 0 -15px;
    overflow: hidden;
    padding: 10px;
    color: gray;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    animation:opac 0.7s;
}

.addTow {
	animation:opac 0.7s;
}

.formNewInvalid::before {
    content: '!';
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ea7d7d;
    color: #fff;
    line-height: 24px;
    text-align: center;
    margin-right: 10px;
}

.positionNew {
	position: relative;
}

.contenidoNew {
	position: relative;
}

.w3-modal-content h2 {
    border-bottom: solid 1px #c5c5c5;
    color: #9D9D9D;
    float: left;
    font-size: 16pt;
    font-weight: normal;
    padding: 15px 0px;
    text-align: left;
    text-indent: 5px;
    width: 100%;	
}

.content-button-input-file {
    height: 40px;
    overflow: hidden;
    position: relative;
    top: 15px;
    left: 20px;
    width: 150px;
	input {
		cursor : pointer;
		height : 70px;
		margin-top : -25px;
		position : absolute;
		width : 150px;
		&:focus {
			border : none;
			outline : none;
		}
	}
}

.content-button-input-file {
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 150px;
}
.content-button-input-file input {
  cursor: pointer;
  height: 70px;
  margin-top: -25px;
  position: absolute;
  width: 70px;
}
.content-button-input-file input:focus {
  border: none;
  outline: none;
}

.boton.inactive {
  background-color: #AEADB3 !important;
  border: 1px solid #AEADB3 !important;
  color: #87868A;
}

.botonClean {
    color: #fff;
    float: left;
    font-size: 10pt;
    margin: 0px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;	
    background: white;
    border: 1px solid white;
}

.tabla td a {
    color: #24407B;
    text-decoration: underline;
}

.labelAditional {
	box-sizing: border-box;
	color: #333;
	float: left;
	font-size: 10pt;
	font-weight: normal;
	line-height: 12pt;
	height:45px;
	padding: 17px 5px 10px 5px;
	position: relative;
	text-align: right;
	width: 20%;
	hyphens: auto;
	vertical-align:middle
}

.show {
	animation:opac 0.3s;
}

.resumen {
	width:100%;
	float:left}
.resumen p.resumenTittle{
	    text-align: right;
    font-size: 14px;
	    color: #333;
		font-weight:bold;
		padding:10px 5px
}
.resumen p.resumentxt{
	    text-align: left;
    font-size: 14px;
	    color: #33495f;
		padding:10px 0px
}

.inputTdcWrap .keyWrap{float: left;
    width: 40px;
    height: 44px;
    padding: 7px 0;
    border-radius: 6px 0 0 6px;
    background: #33495f;
	text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.inputTdcWrap .keyWrap p {
    width: 100%;
    margin: 0;
    color: white;
	line-height: 2pt;
    font-size: 13pt;
    padding: 13px 0px;
    width: 100%;
    float: left;
    text-align: center;
}
.inputTdcWrap .inputKeyWrap input[type='text'] {
    font-size: 20px !important;
    float: left;
    width: 70px;
    height: 44px;
    text-align: center;
    border-radius: 0 6px 6px 0;
	margin:0px
}
.inputTdcWrap .boton{
	    float: right;
    padding: 3px 10px;}
.clear {
	clear: both;
}
.clear10 {
	display: inline-block;
	padding-bottom: 10px;
	width: 100%;
}
.clear15 {
	display: inline-block;
	padding-bottom: 15px;
	width: 100%;
}
.clear20 {
	display: inline-block;
	padding-bottom: 20px;
	width: 100%;
}
.clear30 {
	display: inline-block;
	padding-bottom: 30px;
	width: 100%;
}	
