
 <div class="divPpal padding">
            <h2 class="border-blue-bottom alignLeft title" ng-bind="::i18n.views.home.title"></h2>
        </div>
        
        <div class="clear"></div>
                
        <!--FILA 1-->
        <div class="divPpal" >
            <div class="divTreintaTres"><div class="alignCenter"><button class="menuOptions" href="" ng-click="home.clientCreation()" ng-disabled="!dataUser.userValid" ><img src="img/boton-nuevocliente.png" width="279" height="106" alt=""/></button></div></div>
            <div class="divTreintaTres"><div class="alignCenter"><button class="menuOptions" href="" ng-click="home.accountCreation()" ng-disabled="!dataUser.userValid"><img src="img/boton-cuentaahorro.png" width="279" height="98" alt=""/></button></div></div>
            <div class="divTreintaTres"><div class="alignCenter"><button class="menuOptions" href="" ng-click="home.onBase()" ng-disabled="!dataUser.userValid"><img src="img/boton-subirOnbase.png" width="299" height="98" alt=""/></button></div></div>
            <div class="divTreintaTres"><div class="alignCenter"><button class="menuOptions" href="" ng-click="home.enabling()" ng-disabled="!dataUser.userValid"><img src="img/boton-asignacionHabilitante.png" width="299" height="98" alt=""/></button></div></div>
            <div class="divTreintaTres"><div class="alignCenter"><button class="menuOptions" href="" ng-click="home.creditCard()" ng-disabled="!dataUser.userValid"><img src="img/boton-tarjetaCredito.png" width="299" height="106" alt=""/></button></div></div>
        </div>